<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Styling -->
  <link rel="stylesheet" href="static/_bootstrap.css">
  <link rel="stylesheet" href="static/prettify.css">
  <link rel="stylesheet" href="static/theme.css">
  <!-- jQuery -->
  <script src="static/public.js"></script>
</head>
<body style="margin:65px">
  {{{body}}}
</body>
</html>