<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Styling -->
  <link rel="stylesheet" href="static/bootstrap.css">
  <link rel="stylesheet" href="static/ts.css">
  <link rel="stylesheet" href="static/theme.css">
  <!-- jQuery -->
  <script src="static/jq.js"></script>
  <script src="static/jquery.tablesorter.js"></script>
  <script src="static/jquery.tablesorter.widgets.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    $("#submit").click(function(e) {
        var $btn=$(this);
        $btn.html("Loading...");
    });
    // call the tablesorter plugin and apply the uitheme widget
    $("#table").tablesorter({
      theme : "ice",
      sortList : [[0,0]],
      widthFixed: true,
      widgets : [ "uitheme", "filter"],
      widgetOptions : {
        // hide the filter row when not active
        filter_hideFilters : true,
        filter_ignoreCase : true,
        filter_reset : 'button.reset'
      }
    });
    
  });
  </script>
</head>
<body style="margin:65px">
  {{{body}}}
</body>
</html>