<!DOCTYPE html>
<html>
<head>
  <title>Historical Analysis Tool</title>
  <meta charset="utf-8">

  <!-- jQuery -->
  <script src="js/jq.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
  <!-- Layout -->
  <link rel="stylesheet" href="css/jq.css">
  <link rel="stylesheet" href="css/b.css">
  <link href="css/p.css" rel="stylesheet">
  <script src="js/p.js"></script>
  <script src="js/docs.js"></script>

  <!-- Table Theme -->
  <link rel="stylesheet" href="css/theme.css">
  <script src="js/jquery.tablesorter.js"></script>
  <script src="js/jquery.tablesorter.widgets.js"></script>
 
  <!-- Tablesorter Additions -->
  <link rel="stylesheet" href="css/pager.css">
  <script src="js/pager.js"></script>
  

<script type="text/javascript">
  $(document).ready(function() {
    
   $("#table").tablesorter({
   });
       
    $(document).on('click', '#submit', function(e){
  		var a=$(this);
      a.html("Loading...")
      });
  });
</script>


</head>
	<body style="margin:85px">
		{{{body}}}
	</body>

</html>
