<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Styling -->
  <link rel="stylesheet" href="static/bootstrap.css">
  <link rel="stylesheet" href="static/ts.css">
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="static/ts.min.js"></script>
  <!-- TableSorter Theme -->
  <link href="static/tableTheme.css" rel="stylesheet"/>

<script type="text/javascript">
  $(document).ready(function() {
    $("#table").tablesorter({
      theme: 'ice',
    }); 
    $(document).on('click', '#submit', function(e) {
        var a=$(this);
        a.html("Loading...")
    });
  });
</script>


</head>
  <body style="margin:65px">
    {{{body}}}
  </body>

</html>
